.title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    margin-top:20px;
  }

/* 例: Pandacssのクラスを使用して<a>タグにスタイルを適用する */
.link {
  
  margin: 4px;
  /* ここにスタイルを追加してください */
  color: #007bff; /* テキストカラーを青に設定 */
  text-decoration: none; /* リンクの下線を削除 */
  font-weight: bold; /* フォントの太さを変更 */
  padding: 8px 16px; /* パディングを設定 */
  background-color: #d0dee7; /* 背景色を設定 */
  border-radius: 4px; /* 角丸を設定 */
 
}


.link:hover {
  background-color: #0056b3; /* ホバー時の背景色を変更 */
  color: #fff; /* ホバー時のテキストカラーを白に変更 */
}
@media only screen and (max-width: 768px) {
  .link:hover {
    background-color: #d0dee7; /* ホバー時の背景色を変更 */
    color: #007bff; /* ホバー時のテキストカラーを白に変更 */
  }
  
 }
.h3{
  font-size: x-large;
  margin: 3rem 0rem 0.5rem 0;

}

.item{
  width:fit-content;
  display: inline-flex;
}